<div class="card" style="margin-top: 3%;">
  <div class="card-header">
    <h2>{{title}}</h2>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="customer.firstName"
                   name="firstName">
          </div>
        </div>

        <div class="col col-md-4">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="customer.lastName"
                   name="lastName">
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="customer.address"
                   name="address">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="pinCode">Pin</label>
            <input type="number" class="form-control" id="pinCode" required [(ngModel)]="customer.pinCode"
                   name="pincode">
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="emailId">Email ID</label>
            <input type="text" class="form-control" id="emailId" required [(ngModel)]="customer.email"
                   name="emailId">
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="mobileNo">Mobile No</label>
            <input type="number" class="form-control" id="mobileNo" required [(ngModel)]="customer.mobileNo"
                   name="mobileNo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="userName">User Login Name</label>
            <input type="text" class="form-control" id="userName" required [(ngModel)]="customer.userName"
                   name="userName">
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="userPassword">User Login Password</label>
            <input type="password" class="form-control" id="userPassword" required
                   [(ngModel)]="customer.userPassword"
                   name="userPassword">
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label class="text-muted" for="userRole">User Login Role</label>
            <input type="text" class="form-control" id="userRole" required [(ngModel)]="customer.userRole"
                   name="userRole">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-primary fa fa-floppy-o" placement="right" ngbTooltip="Update Customer"></button>
      <button type="button" class="btn btn-sm btn-primary fa fa-close" [routerLink]="['/customer-list']" placement="bottom-right" ngbTooltip="Cancel Edit"></button>
    </form>
  </div>
</div>

